.bordered {
  border: 1px solid $color-primary;
  border-radius: 2px;
  padding-bottom: 8px;
  box-shadow: 2px 2px 2px -2px black;
}

.bordered-background {
  background-color: $color-primary;
  color: $color-text-primary;
}

.banner {
  margin-bottom: 16vh;
}

.banner-content {
  width: 100%;
  max-width: 1600px;
}

@media screen and (min-height: 1500px){
  .banner {
    margin-top: 25%;
  }
}
