.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  margin-top: 8vh;

  border-radius: 0px;
  padding-bottom: 8px;
  box-shadow: 0px -4px 8px 2px $color-primary;
}

.footer-content{
  padding-top: 4vh;
  padding-bottom: 4vh;
}
