.btn-google {
  background: none;
  border: none;
  outline: none;
}

.btn-google-img {
  content: url("assets/pictures/google/btn_google_signin_dark_normal_web.png");
}

.btn-google-img:active {
  content: url("assets/pictures/google/btn_google_signin_dark_pressed_web.png");
}

.btn-google-img:focus {
  content: url("assets/pictures/google/btn_google_signin_dark_focus_web.png");
}
//
//@media screen and (min-width: 1930px){
//  .btn-google-img {
//    content: url("assets/pictures/google/btn_google_signin_dark_normal_web_2x.png");
//  }
//
//  .btn-google-img:active {
//    content: url("assets/pictures/google/btn_google_signin_dark_pressed_web_2x.png");
//  }
//
//  .btn-google-img:focus {
//    content: url("assets/pictures/google/btn_google_signin_dark_focus_web_2x.png");
//  }
//}
