ul {
  list-style: none;
  margin: 0 0 16px 0;
  padding: 0;
}

li {
  margin: 4px 0 4px 0;
  padding: 16px 8px 16px 8px;

}
.active {
  background-color: $color-super-light-gray;
}

li:hover {
  background-color: $color-super-light-gray;
}

li:active {
  box-shadow: inset 0 0px 2px -1px $color-primary;
}

.strikethrough {
  text-decoration: line-through;
  color: gray;
  border-bottom: 1px solid gray;
  //box-shadow: inset 0 0px 2px -1px $color-primary;
}

.list-list {
  border-bottom: 1px solid $color-super-light-gray;
}
