.twitter-follow-button {
  background-color: #0097DC;
  padding: 16px;
  border-radius: 2px;
  color: white;
}

.twitter-follow-button:hover {
  background-color: #0083BF;
  color: white;
  text-decoration: none;
}

.twitter-follow-button:active {
  background-color: #0083BF;
  color: white;
  text-decoration: none;
}

.twitter-follow-button:focus {
  background-color: #0097DC;
  color: white;
  text-decoration: none;
}
