<div class="container-fluid m-4">
  <div class="row mt-8">
    <div class="col-lg-6">
      <h1>Tooli</h1>
      <hr>
      <h2 class="mb-32">The one stop shop for your Todo-list needs</h2>

      <div class="row bordered bordered-background mt-8">
        <div class="col-lg-12 mt-8">
          Have you ever had the feeling that you are unorganized?
        </div>
      </div>
      <div class="row bordered bordered-background mt-8">
        <div class="col-lg-12 mt-8">
          Do you forget stuff you just <i>have</i> to do?
        </div>
      </div>
      <div class="row bordered bordered-background mt-8 mb-32">
        <div class="col-lg-12 mt-8">
          Do you want to get your life on the right tracks?
        </div>
      </div>
      <div class="row mt-8 mb-32">
        <div class="col-lg-12 mt-8">
          Then you need Tooli! The one stop shop for your Todo-list needs.
        </div>
      </div>
      <div class="row mb-32">
        <div class="col-lg-12" align="justify">
          Tooli enables you and your loved ones to keep track of things to do and
          share the excitement of getting stuff done. It is a Todo-list, but online!
          How cool is that? There are also no other online Todo-lists, don't believe
          the lies of unorganized people!
        </div>
      </div>
      <div class="row mt-8">
        <div class="col-lg-12 mt-8">
          Try it out now!
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <a [href]="loginUrl">
            <button class="btn-google">
              <img class="btn-google-img">
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="assets/pictures/mascot/Mascot.svg" class="w-100">
    </div>
  </div>
</div>
