.btn {
  padding: 1vh 1vw 1vh 1vw;
  border: none;
}

.btn:active, .btn:focus {
  border: none;
  outline: none;
}

.btn-primary {
  background-color: $color-primary-light;
  color: $color-text-primary;
}

.btn-primary:hover, .btn-primary:active {
  background-color: $color-primary-light;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  color: $color-text-primary;
  text-decoration: none;
}

.btn-primary:active {
  background-color: $color-primary-dark;
}
