.logo {
  max-height: 100%;
}

.navbar {
  height: 9vw;
  max-height: 50px;
  margin-bottom: 10px;
  background-color: $color-primary;
}

.navbar-right {
  float: right;
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    height: 18vw;
    max-height: 18vw;
    min-height: 50px;
  }
  .navbar-right {
    margin-top: 15px;
  }
}

.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
   margin-top: 16px;
}
