$entriesdefaultwidth: 90vw;
$entrieshwratio: 2;
$entrieswidthfactor: 2;

$navbardefaultheight: 18vw;
$navbarfactor: 2;

$sidebardefaultwidth: 80vw;

$entryverticalratio: 3;
$entryinfocontrolratio: 4;

$cprimary: #bdbdbd;
$csecondary: #b49685;
$cneutral: #c79683;