<!DOCTYPE html>
<html>

<head>
    <title>Create Account</title>
    <%- include ejs/scriptsAndStyle.ejs %>
</head>

<body>
    <div class="theader">
        <div class="tnavbar">
        </div>
    </div>
    <a class="toolilogolink" href="/">
        <img src="/testbild.png" alt="Logo" class="toolilogo">
    </a>
    <form method="POST" action="/createAccount">
        <input type="text" name="newUserName" value="" placeholder="Username" />
        <input type="submit" value="Create Account"></input>
    </form>
    <%- include ejs/footerPublic.ejs %>
</body>

</html>