<!DOCTYPE html>
<html>

<head>
    <title>List</title>
    <%- include ejs/scriptsAndStyle.ejs %>

    <script>
        $(document).ready(function () {
            $('#chat-items').animate({
                scrollTop: $('#chat-items').prop('scrollHeight')
            }, 500);
            $('.ajaxForm').submit(function (e) {
                e.preventDefault();
                $.post($(this).attr('action'), $(this).serialize());
                $(this).find('.clearOnSubmit').val('');
            });
            if (window.matchMedia("screen and (min-width: 992px) and (orientation: landscape)")
                .matches) { //shows sidebar on big boy screens
                document.getElementById("lists-container").classList.add('visible');
                document.getElementById("lists-container").classList.remove('invisible');
            } else {
                $("#chat-container").removeClass('visible').addClass('invisible');
            }
            window.onresize = function () {
                if (!window.matchMedia("screen and (min-width: 992px) and (orientation: landscape)")
                    .matches) { //removes fixed class from chat if window is too smol
                    document.getElementById("chat-container").classList.remove('chatfixed');
                }
            }
            $('.toggleEntryOptions').click(function (e) {
                e.preventDefault();
                var entryItem = $(event.target).parents('.entry-item');
                if (entryItem.hasClass('entry-options-active')) {
                    if (entryItem.hasClass('entry-editmode')) {
                        entryItem.removeClass('entry-editmode');
                    }
                    entryItem.removeClass('entry-options-active');
                    entryItem.find("[class^='entry-option-'],[class*=' entry-option-']").addClass(
                        'invisible').removeClass('visible');
                } else {
                    entryItem.addClass('entry-options-active');
                    entryItem.find("[class^='entry-option-'],[class*=' entry-option-']").removeClass(
                        'invisible');
                }
            });
            $('.entry-option-confirm').click(function (e) {
                e.preventDefault();
                var entryItem = $(event.target).parents('.entry-item');
                if (entryItem.hasClass('entry-editmode')) { //Confirm Edit
                    //submit or post
                    console.log(entryItem.find('.entry-id').val());
                    console.log(entryItem.find('.entry-content-edit').val());
                    $.post('/entry/'+entryItem.find('.entry-id').val(), {entryContent: entryItem.find('.entry-content-edit').val()});
                    //exit editmode
                    entryItem.removeClass('entry-editmode');
                    //reset edit btn to edit
                    entryItem.find('.entry-option-edit').html('E');
                } else {
                    //trying to confirm without editmode
                    createNewNotif({
                        notiftext: 'no no'
                    });
                }
            });
            $('.entry-option-edit').click(function (e) {
                e.preventDefault();
                var entryItem = $(event.target).parents('.entry-item');
                if (entryItem.hasClass('entry-editmode')) {
                    //exit editmode
                    entryItem.removeClass('entry-editmode');
                    //reset edit btn to edit
                    entryItem.find('.entry-option-edit').html('E');
                } else {
                    //enter edit mode
                    entryItem.addClass('entry-editmode');
                    //change edit btn to cancel edit
                    entryItem.find('.entry-option-edit').html('CE');
                    //copy view value to edit field
                    entryItem.find('.entry-content-edit').val(entryItem.find('.entry-content-vd')
                        .html());
                }
            });
            $('.entry-option-confirmdelete').click(function (e) {
                e.preventDefault();
                var entryItem = $(event.target).parents('.entry-item');
                if (entryItem.find('.entry-option-confirmdelete').hasClass('visible')) {
                    //delete entry
                    $.post('/deleteEntry', {deleteEntryId: entryItem.find('.entry-id').val()});
                } else {
                    //trying to delete on invisible btn
                    createNewNotif({
                        notiftext: 'how pls'
                    });
                }
            });
            $('.entry-option-delete').click(function (e) {
                e.preventDefault();
                var entryItem = $(event.target).parents('.entry-item');
                if (entryItem.find('.entry-option-confirmdelete').hasClass('visible')) {
                    //reset delte btn to delete
                    entryItem.find('.entry-option-delete').html('D');
                    //hide confirmdelete btn
                    entryItem.find('.entry-option-confirmdelete').removeClass('visible');
                } else {
                    //change delete btn to cancel delete
                    entryItem.find('.entry-option-delete').html('CD');
                    //show confirmdelete btn
                    entryItem.find('.entry-option-confirmdelete').addClass('visible');
                }
            });
            $('#toggleChat').click(function (e) {
                e.preventDefault();
                if ($("#chat-container").css('display') != 'none') { //hide
                    document.getElementById("chat-container").classList.add('invisible');
                } else { //show
                    document.getElementById("chat-container").classList.remove('invisible');
                }
            });
            $('#fixChat').click(function (e) {
                e.preventDefault();
                if (document.getElementById("chat-container").classList.contains('chatfixed')) {
                    document.getElementById("chat-container").classList.remove('chatfixed');
                } else {
                    document.getElementById("chat-container").classList.add('chatfixed');
                }
            });
            $('#toggleLists').click(function (e) {
                e.preventDefault();
                if ($("#lists-container").css('display') != 'none') { //hide
                    document.getElementById("lists-container").classList.remove('visible');
                    document.getElementById("lists-container").classList.add('invisible');
                } else { //show
                    document.getElementById("lists-container").classList.add('visible');
                    document.getElementById("lists-container").classList.remove('invisible');
                }
            });
        });

        function createObjFromTemplate(templatename, data) {
            var rawhtml = $('#' + templatename).html();
            for (const [key, value] of Object.entries(data)) {
                rawhtml = rawhtml.replace('{{' + key + '}}', value);
            }
            return $.parseHTML(rawhtml)[1];
        }

        function createNewNotif(data) {
            var template = createObjFromTemplate('notif-template', data);
            setTimeout(function () {
                template.remove();
            }, 2000);
            $('#notif-container').append(template);
        }
    </script>
    <script id="notif-template" type="text/template">
        <div class="notifbox">
            {{notiftext}}
        </div>
    </script>
    <script id="chat-template" type="text/template">
        <div class="chat-item">
            {{sender}} said: </span> <br> {{message}}
        </div>
    </script>
</head>

<body>
    <%- include ejs/navbar.ejs %>
    <div id="content-container">
        <div id="lists-container">
            <div id="lists-topbar">
                <form action="/new-list" method="post">
                    <input type="text" name="newListName" placeholder="New List">
                </form>
            </div>
            <% resList.forEach(function(list){ %>
            <a href="/list/<%= list.id %>" <% if (currentList == list.id) { %> class="list-item list-current"
                <% } else { %> class="list-item" <% } %>><%= list.name %>

            </a>
            <% }) %>
        </div>
        <div id="chat-container">
            <div id="chat-items">
                <% resChat.forEach(function(Chat){ %>
                <div <% if (account.id == Chat.senderId) { %> class="chat-item chat-self" 
                    <% } else { %> class="chat-item"  <% } %> >
                    <%=Chat.senderName%> said: </span> <br> <%=Chat.message%>
                    <input type="hidden" class=".chat-id" value="<%=Chat.id%>">
                    <input type="hidden" class=".sender-id" value="<%=Chat.senderId%>">
                </div>
                <% }) %>
            </div>
            <div id="chatbottombox">
                <form method="POST" class="ajaxForm" action="/chat">
                    <input name="chatmessage" class="clearOnSubmit" placeholder="We should do more tasks"
                        autocomplete="off" />
                </form>
            </div>
        </div>
        <div id="entries-container">
            <div id="entries-topbar">
                <div><%= resList.filter(list => list.id == currentList)[0].name %></div>
                <form action="" method="post">
                    <input type="text" name="newEntryName" placeholder="Do the dishes">
                    <input type="submit" value="Confirm">
            </div>
            </form>
            <% resEntry.forEach(function(entry){ %>
            <div class="entry-item">
                <div class="entry-content">
                    <div class="viewdata entry-content-vd"><%=entry.name%></div>
                    <div><input type="text" name="entryContent" class="entry-edittext editmodeOnly entry-content-edit">
                    </div>
                </div>
                <div class="entry-options">
                    <a href="" class="toggleEntryOptions">O</a>
                    <a href="" class="entry-option-confirm editmodeOnly invisible">OKE</a>
                    <a href="" class="entry-option-edit invisible">E</a>
                    <a href="" class="entry-option-confirmdelete invisible">OKD</a>
                    <a href="" class="entry-option-delete invisible">D</a>
                </div>
                <div class="entry-information">information space for future use</div>
                <div class="entry-control"><input id="entryCheck<%=entry.id%>" class="entryCheck" type="checkbox"
                        value="<%=entry.id%>" <% if (entry.status>0) { %> checked <% } %> /></div>
                <input type="hidden" class="entry-id" value="<%=entry.id%>">
            </div>
            <% }) %>
        </div>
    </div>
    <div id="notif-container">
    </div>
    <% include ejs/footerPublic.ejs %>
    <%- include ejs/userSocketControl.ejs %>
    <script>
        $(document).ready(function () {
            const listNsp = io('/listNsp');
            const globalSkt = io();
            listNsp.emit('joinRoom', {
                rid: 'L' + window.location.href.substr(window.location.href.lastIndexOf('/') + 1)
            });
            //Status Change
            $('.entryCheck').change(function (e) {
                //e.preventDefault(); // prevents page reloading
                var status = 0;
                if (this.checked)
                    status = 1;
                listNsp.emit('checkEntryChange', {
                    id: e.target.getAttribute("value"),
                    st: status
                });
                return false;
            });
            listNsp.on('checkEntryChange', function (msg) {
                var checked = true;
                if (msg.st == 0)
                    checked = false;
                $('#entryCheck' + msg.id).prop('checked', checked);
            });
            listNsp.on('chatMsg', function (msg) {
                var newChat = createObjFromTemplate('chat-template', msg);
                $('#chat-items').append(newChat); //TODO fix this
                $('#chat-items').animate({
                    scrollTop: $('#chat-items').prop('scrollHeight')
                }, 500);
            });
            listNsp.on('deleteChatMsg', function (msg) {
                //TODO deleteChat
            });
        });
    </script>
</body>

</html>