<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <%- include ejs/scriptsAndStyle.ejs %>
    <script src="/js/login.js"></script>
</head>

<body>
    <%- include ejs/navbar.ejs %>
    <div id="content-container">
        <div class="centerspace">
            <div class="centerbox">
                Login
                <div id="loginbox">
                    <input id="user-name" type="text" name="username" placeholder="Username">
                    <input id="user-pw" type="text" placeholder="Password">
                    <div id="login-controls">
                        <input type="button" value="Login" onclick="loginUser()">
                        <a href="/register">Create New Account</a>
                        <p id="loginFailedText" style="display: none">
                            Login failed!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="notif-container">
    </div>
    <%- include ejs/footerPublic.ejs %>
</body>

</html>