<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <%- include ejs/scriptsAndStyle.ejs %>
    <script src="/js/login.js"></script>
</head>

<body>
    <%- include ejs/navbar.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Login</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-4">
                <input id="username" type="text" name="username" placeholder="Username">
            </div>
        </div>
        <div class="row mt-16">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input id="password" type="text" name="password" placeholder="Password">
            </div>
        </div>
        <div class="row mt-16">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <button class="btn btn-primary" onclick="loginUser()">Submit</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a href="/register">Create New Account</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="loginFailedText" style="display: none">
                Login failed
            </div>
        </div>
    </div>
    <div id="notif-container">
    </div>
    <%- include ejs/footerPublic.ejs %>
</body>

</html>
