<!DOCTYPE html>
<html>

<head>
    <title>New List</title>
    <%- include ejs/scriptsAndStyle.ejs %>
</head>

<body>
    <div class="theader">
        <div class="tnavbar">
            <nav class="tnavLinks">
                <a href="/logout">Logout</a>
            </nav>
        </div>
    </div>
    <a class="toolilogolink" href="/">
        <img src="/testbild.png" alt="Logo" class="toolilogo">
    </a>
    <h1>Create List</h1>

    <form action="" method="post">
        <input type="text" name="newListName" id="newListName" placeholder="Neue Liste" />
        <input type="submit" id="newEntrySub" value="ok">
    </form>
</body>

</html>