<div class="navbartop">
    <a href="/"><img src="/testbild.png" width="30" height="30"></a>
    <% if(locals.account) { %>
    <a id="toggleLists" href="">Toggle Lists</a>
    <a id="toggleChat" href="">Toggle Chat</a>
    <a id="fixChat" href="">Fix Chat</a>
    <% } %>
    <div class="navbar-right">
        <% if(locals.account) { %>
        <form action="/logout">
            <input type="submit" value="Logout">
            <% } else { %>
            <form action="/login">
                <input type="submit" value="Login">
                <% } %>
            </form>
    </div>
</div>