<script>
    //html templates.... how to do good
    const templateNotif = function (msg) {
        return '<div class="notif" id="n' + msg.mid + '">' +
            msg.sender + ' in List ' + msg.listid + ' : ' + msg.message +
            '</div>';
    };
    const templateChat = function (msg) {
        return '<div class="chatitem" id="m' + msg.id + '">' + msg.sender + ' : ' + msg.message +
            '<form method="POST" class="deleteChatForm ajaxForm" action="/deleteChat"><input type="hidden" name="deleteChatId" value="' +
            msg.id + '"><input type="submit" value="X"></form></div>';
    }
    $(document).ready(function () {
        const userNsp = io('/userNsp');
        userNsp.emit('connectUser', {
            rid: 'U<%=account.id%>'
        });
        userNsp.on('notifMsg', function (msg) {
            console.log(msg);
            var template = $('#templateNotif');
            //console.log(template);
            $('.notifbox').append(templateNotif(msg));
            setTimeout(function () {
                $('#n' + msg.mid).remove();
            }, 3000);
        });
    });
</script>