<li *ngIf="list && !isEditing" [class.active]="selected">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <span (dblclick)="onListDoubleClick()">
        {{list.name}}
      </span>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" *ngIf="!isDeleting">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" *ngIf="!isDeleting">
      <app-trash-icon (click)="delete()" ></app-trash-icon>

    </div>
    <div *ngIf="isDeleting"  class="col-lg-1 col-md-1 col-sm-1 col-xs-1" >
        <app-check-icon (click)="confirmDelete()"></app-check-icon>
    </div>
    <div *ngIf="isDeleting"  class="col-lg-1 col-md-1 col-sm-1 col-xs-1" >
        <app-x-icon (click)="cancelDelete()"></app-x-icon>
    </div>
  </div>
</li>
<li *ngIf="list && isEditing">
  <input
    type="text"
    [(ngModel)]="listName"
    placeholder="My List"
    (keydown)="onListNameKeyDown($event)"
  >
</li>
