<div class="container-fluid m-0 p-0">
  <div class="col-lg-12 m-0 navbar">
    <h1>Tooli</h1>
  </div>
</div>

<router-outlet></router-outlet>

<div class="container-fluid footer m-0 p-0">
  <div class="col-lg-12 footer-content">
    <a href="https://twitter.com/tooliproject?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="en" data-show-count="false">Follow @tooliproject</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
